<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Finance Manager</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if  user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}">Expenses by Category</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create Category</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">Accounts by Type</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'signup' %}">Signup</a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Expenses</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Receipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipt_list %}
                            <tr>
                                <td>{{ receipt.category__name }}</td>
                                <td>{{ receipt.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
